<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Travel Modes in Directions</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href="{% static 'styles/style.css'%}" >
    <script src="{% static 'js/main.js'%}"></script>
  </head>
  <body>
   <!-- <div id="floating-panel">
       <div>
           <div>
               <input type="text" id="from" placeholder="Origin">
           </div>
       </div>
       <div>
        <div>
            <input type="text" id="to" placeholder="Destination">
        </div>
    </div>
    <b>Mode of Travel</b>
    <select  id="mode">
        <option value="DRIVING">Driving </option>
        <option value="WALKING">WALKING </option>
        <option value="BICYCLING">Bicycling </option>
        <option value="TRANSIT">Transit </option>
    </select>
   </div> -->
   <div id="map"></div>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCluHkkBOVwbKGXNpsSVFxLnEjhhFm_eNI&callback=initMap">
</script>
  </body>
</html>